.board {
    background: #9deed6ab;
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 10vw;
    height: 16vw;
    outline: none;
    border: 0;
    padding: 0;
}

.counter {
    width: 2vw;
    float: left;
}

.container {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
}